.git
.gitignore
Dockerfile
.dockerignore

__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.ipynb

../dataset/
dataset/
runs/
predict/
snapshot/
.images/
*.mp4
*.avi

.vscode/
.idea/